// Place all the styles related to the estatica controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
#contenedor{
	width:960px;
	margin:0px;
	border:1px blue;

}